# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Project
output/
data-*/
test-output/
.pytest_cache/

# CARL
.carl/

# Secrets
.env
